[data-mantine-color-scheme="light"] body {
  background: #fefefe !important;
  color: #111;
}

[data-mantine-color-scheme="dark"] html,
[data-mantine-color-scheme="dark"] body {
  background: #111 !important;
  color: #fefefe;
}
