.root {
  border-radius: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent !important;
  opacity: 0.6;
}

[data-mantine-color-scheme="light"] .root:hover {
  background: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .root:hover {
  background: var(--mantine-color-dark-7);
}

.root[data-active] {
  opacity: 1;
}

[data-mantine-color-scheme="light"] .root[data-active] {
  background: var(--mantine-color-brand-light);

  svg {
    color: var(--mantine-color-brand-6) !important;
  }
}

[data-mantine-color-scheme="dark"] .root[data-active] {
  background: var(--mantine-color-brand-light);
}

.label {
  font-size: var(--mantine-font-size-xs);
  font-weight: 800;
  display: block;
}

.children {
  position: relative;
}
