.btn {
  font-weight: 600;
  font-size: var(--mantine-font-size-xs) !important;
  padding: 6px var(--mantine-spacing-xs) !important;
  border-radius: var(--mantine-radius-sm);
  filter: saturate(0);
  opacity: 0.5;
  transition: 0.1s ease-in-out;

  svg {
    font-size: var(--mantine-font-size-sm);
  }
}

/* hover state */
.btn:hover {
  opacity: 1;
}

/* active state - filled variant */
.btn_active {
  filter: saturate(1);
  opacity: 1;
  background: var(--mantine-color-brand-light) !important;
  color: var(--mantine-color-brand-6) !important;

  svg {
    color: var(--mantine-color-white);
  }
}
